@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Roboto';
  color: rgba(54, 52, 52, 0.585);
}

*:focus {outline:none !important}

* {
  outline-style: none
}

div#app {
  background-color: white;
}

@media (min-width: 992px) { 
  nav.navbar {
    width: 60%;
    position: fixed;
    left: 20%;
    top: 0;
    grid-template-columns: auto auto auto;
  }

  .container-sm {
    width: 60%;
    margin: auto;
    margin-top: 70px;
  }
}

@media (max-width: 991px) {
  nav.navbar {
    position: relative;
  }
}

.container-sm {
  max-width: 100%;
  min-width: 60%;
  //background-color: yellow;
}

nav.navbar {
  max-width: 100%;
  min-width: 60%;
  text-align: right;
  background-color: white;
  text-transform: uppercase;

  .dropdown-item {
    color: white;
    color: rgba(54, 52, 52, 0.585);
  }

  .dropdown-item:hover{
    color: white;
    background-color:  rgba(54, 52, 52, 0.585);
  }

  .nav-item:hover {
    color: white;
    background-color:  rgba(54, 52, 52, 0.585);
  } 

  .nav-item a:hover {
    color: white;
    background-color:  rgba(54, 52, 52, 0.585);
  }

  a:hover {
    color: white;
    background-color:  rgba(54, 52, 52, 0.585);
  }
}

a:hover {
  color: white;
  background-color:  rgba(54, 52, 52, 0.585);
}

div#navbar-collapse {
  color: white;
  background-color:  rgba(54, 52, 52, 0.585);
}

div#navbar-collapse:hover {
  color: white;
  background-color:  rgba(54, 52, 52, 0.585);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus
{
  color:white;
  background-color:  rgba(54, 52, 52, 0.585);
}

nav.navbar .nav-item:hover {
  color: white;
  background-color:  rgba(54, 52, 52, 0.585);
}

button.btn {
  border: "1px solid black";
  background-color: white;
  color: rgba(54, 52, 52, 0.585);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#articles {
  display: grid;
  grid-template-columns: auto;
  width: 100%;
}


@media (min-width: 768px) {
  #articles {
    display: grid;
    grid-template-columns: auto auto;
  }

  article {
    margin: 5px;
  }
}

@media (min-width: 992px) {
  #articles {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  article {
    margin: 10px;
  }
}

article {
  background-color: white;
  text-align: center;
  //border: 1px solid black;
  display: inline;

  h1{
    color: black;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bold;
    margin: 10px;
  }

  h2{
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  p{
    font-size: 14px;
    margin-top: 20px;
  }

  .line {
    width: 30%;
    margin: auto;
    border-top: 2px solid rgba(54, 52, 52, 0.585);
  }
  
  button {
    height: auto;
  }

  button:hover {
    color: white;
    background-color:  rgba(54, 52, 52, 0.585);;
  }

  img {
    width: 100%;
    height: auto;
  }
}


#articles-hockey{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
}



#articles-hockey article.haluz {
  //background-color: red;
  background-color: black;
  background-image: url('./img/laliga-v-1200x1200.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-repeat: no-repeat;
    background-size: 100%;
   }

/*
   
   background-image: url(‘path/image.jpg’);
   background-size: cover;
   background-repeat: no-repeat;

   */